<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    
</head>

<body>
    <section class="highlight-clean" style="height: 600px;background: #466235;">
        
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color: rgb(255,255,255);margin-top: 0px;border-color: rgb(255,255,255);">Register</h2>
            </div>
        </div>

        <section class="login-clean" style="border-top-left-radius: 10px;border-top-right-radius: 10px;background: rgb(255,255,255);height: 643.312px;">
            <!-- <h2 class="text-center" style="color: rgb(0,0,0);margin-top: 0px;padding-bottom: 1rem;">Find<span style="color: #114a9e;">.</span>Tutor</h2> -->

            <form class="shadow-none" method="post" [formGroup]="myForm" >

                <div class="mb"><label class="form-label"><strong>Name</strong></label>
                    <div class="input-group"><input formControlName="name" name = "name" class="form-control" type="text" style="background-color:#F2F9F0;"><span class="input-group-text" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"><i class="bi bi-person-fill"></i></span></div>
                        <!--Validation-->
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Name is required</div>
                        <div *ngIf="f['name'].errors['minlength']">Name must be atleast 3 characters</div>
                        <div *ngIf="f['name'].errors['pattern']">field should contain alaphabetical characters only</div>
                    </div>
                      <!--Validation-->
                </div>
                

                <div class="mb"><label class="form-label"><strong>Surname</strong></label>
                    <div class="input-group"><input formControlName="surname" name="surname" class="form-control" type="text" style="background-color:#F2F9F0;"><span class="input-group-text" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"><i class="bi bi-person-fill"></i></span></div>
                    <!--Validation-->
                    <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                        <div *ngIf="f['surname'].errors['required']">Name is required</div>
                        <div *ngIf="f['surname'].errors['minlength']">Name must be atleast 3 characters</div>
                        <div *ngIf="f['surname'].errors['pattern']">field should contain alaphabetical characters only</div>
                    </div>
                    <!--Validation-->
                </div>


                <div class="mb"><label class="form-label"><strong>Email</strong></label>
                    <div class="input-group"><input formControlName="email" name="email" class="form-control" type="text" style="background-color:#F2F9F0;"><span class="input-group-text" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"><i class="bi bi-envelope-fill"></i></span></div>
                     <!-----------vali-->    
          
                     <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                     <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['pattern']">Incorrect email format</div>
                    </div>
   <!-----------vali-->  
                </div>

                <div class="mb"><label class="form-label"><strong>Account type</strong></label>
                    <!-- <div class="input-group"><input formControlName="accounttype" name="password" class="form-control" type="text">
                    <span class="input-group-text" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                        <i class="fa fa-envelope"></i></span></div> -->
                        <div>
                            <input class="form-input" type="radio" name="accounttype" id="accounttype" value="client" formControlName="accounttype"> 
                            <label style="padding-left: 5px;" class="form-label" for="inlineRadio1">Client</label>
                            <input style="padding-right: 10px;" class="mb-2" type="radio" name="accounttype" id="accounttype" value="tutor" formControlName="accounttype">
                         <label class="form-label" for="inlineRadio1" style="padding-left: 10px;">Tutor</label>
                        </div>
                        
                </div>

                <div class="mb"><label class="form-label"><strong>Phone number</strong></label>
                    <div class="input-group"><input formControlName="phonenumber" name="password" class="form-control" type="text" style="background-color:#F2F9F0;"><span class="input-group-text" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"><i class="bi bi-telephone-fill"></i></span></div>

                    

                </div>

                <div class="mb"><label class="form-label"><strong>Password</strong></label>
                    <div class="input-group"><input formControlName="password" name="password" class="form-control" type="password" style="background-color:#F2F9F0;"><span class="input-group-text" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"><i class="bi bi-lock-fill"></i></span></div>
                                     <!-------validation password-->
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['pattern']">
              Password should contain atleast 1 lowercase,atleast 1 uppercase,atleast 1 number and one character.
          </div>
            <div *ngIf="f['password'].errors['minlength']">
                Password should be atleast 6 characters long.
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
             must not exceed 40 characters
            </div>
          
           
          </div>
        <!----------------->
                </div>

                <div class="mb"><label class="form-label"><strong>Confirm Password</strong></label>
                    <div class="input-group"><input formControlName="concpasswordfirm" name="concpasswordfirm" class="form-control" type="password" style="background-color:#F2F9F0;"><span class="input-group-text" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;"><i class="bi bi-lock-fill"></i></span></div>
                     <!-------validation password-->
          <div
          *ngIf="submitted && f['concpasswordfirm'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['concpasswordfirm'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['concpasswordfirm'].errors['matching']">
            Confirm Password does not match
          </div>
          
        </div>
                </div>

               
                <div class="mb"></div>
                <div class="mb-2"></div>
                <div class="text-center mb-3"><button class="btn text-center" type="submit" style="background: #FCBA03;" [routerLink]="['/register']" routerLinkActive="router-link-active"  (click)="onSubmit(myForm)">Register</button></div>
            </form>
        </section>
    </section>
</body>

</html>
