

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
   
</head>

<body>
    <section class="highlight-clean" style="height: 771px;background: #466235;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color: rgb(0,0,0);margin-top: 118px;">Find<span style="color: #114a9e;">.</span>Tutor</h2>
                <p class="d-flex justify-content-center"><img class="d-flex" src="https://www.freepnglogos.com/uploads/teacher-png/teacher-doc-prep-servicing-6.png" style="height: 109px;"></p>
                <p class="text-center" style="font-weight: bold;font-size: 24px;color: rgb(255,255,255);">Find your best tutor to reach your goals</p>
            </div>
            <div class="buttons" [routerLink]="['/login ']" routerLinkActive="router-link-active" ><a class="btn text-capitalize" role="button" style="background: rgb(255,183,0);font-size: 16px;">Get started</a></div>
        </div>
    </section>
    
</body>
 
